<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SSH.Host" value="tools-login.wmflabs.org" />
    <add key="SSH.Port" value="22" />
    <add key="SSH.Username" value="--override in App.Secure.config--" />
    <add key="SSH.PrivateKey.Path" value="SSH.key" />
    <add key="SSH.PrivateKey.PassPhrase" value="--override in App.Secure.config--" />
    <add key="MySql.Host" value="enwiki.labsdb" />
    <add key="MySql.Port" value="3306" />
    <add key="MySql.Username" value="--override in App.Secure.config--" />
    <add key="MySql.Password" value="--override in App.Secure.config--" />
    <add key="MySql.Database" value="enwiki_p" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>